[submodule "engine/vendor/vdtmath"]
	path = engine/vendor/vdtmath
	url = https://github.com/vitodtagliente/vdtmath
[submodule "engine/vendor/vdtjson"]
	path = engine/vendor/vdtjson
	url = https://github.com/vitodtagliente/vdtjson
[submodule "engine/vendor/miniaudio"]
	path = engine/vendor/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "engine/vendor/vdtgraphics"]
	path = engine/vendor/vdtgraphics
	url = https://github.com/vitodtagliente/vdtgraphics
[submodule "engine/vendor/vdtnet"]
	path = engine/vendor/vdtnet
	url = https://github.com/vitodtagliente/vdtnet
[submodule "engine/vendor/vdtreflect"]
	path = engine/vendor/vdtreflect
	url = https://github.com/vitodtagliente/vdtreflect
[submodule "engine/vendor/imgui"]
	path = engine/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "engine/vendor/SDL"]
	path = engine/vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "engine/vendor/SDL_image"]
	path = engine/vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "engine/vendor/SDL_ttf"]
	path = engine/vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
