# ---------------------
#	  Visual Studio
# ---------------------

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

*.dir

.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.db
*.opendb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
Win32

# ---------------------
#	  Dependecies
# ---------------------
glfw